[submodule "rack"]
      path = src/libs/qhttpserver
      url = https://github.com/Nehmulos/qhttpserver.git
[submodule "libs/curl"]
	path = src/libs/curl
	url = git://github.com/bagder/curl.git
[submodule "libs/noslib"]
	path = src/libs/noslib
	url = https://github.com/Nehmulos/N0Strain-Serialization-Library.git
