body, html {
    margin:0px;
    padding:0px;
    background-color: #333;
    color: #FFF;
}

.showList {
    margin-bottom: 1em;
}

.showList .watchCount {
    float:right;
    padding-right: 1em
}

.showList .headline{
    font-size: 1.1em;
}

ul {
    border: 2px solid gray;
}

li {
    padding-left: 1em;
    list-style-type: none;
}

li:nth-child(even) {
    background-color: #4D4D4D;
}

li:nth-child(odd) {
    background-color: #444;
}

li.focused {
    color: gold;
}

.season li:hover {
    color: gold;
}

.season li:hover > span:hover ~ span {
    color: white;
}

.season li .chapterList {
    display: inline-block;
    max-height: 1em;
    height: 1em;
    min-width: 35%;
    float: right;
    padding-right: 0.5em;
    overflow: hidden;
}

.chapterList .chapterLink {
    padding-bottom: 0.1em;
    height: 0.7em;
    width: 0.7em;
    border-right: 1px solid gray;
    padding-left: 1em;
}

.chapterList > *:not(:hover) {
    color: white;
}

.releaseGroupPreference span:hover:not(:nth-child(1)) {
    color: gold;
    cursor: w-resize;
}

.seekbar {
    width: 100%;
    height: 8px;
    background-color: gray;
    position: absolute; /* TODO proper positioning this is DEBUG */
    top: 0px;
}

.seekbar .progressBar {
    height: 100%;
    width:0px;
    background-color: orange;
}

.seekbarTooltip {
    position:absolute; 
    width: 100px;
    height: 70px;
    margin-left: -50px;
    margin-top: -90px;
    background-color: black;
}

.playerControls {
    position:fixed;
    bottom:0px;
    width: 100%;
    text-align:center;
    font-size: 2em;
    background-color: #555;
    border-top: 2px solid #333;
    color: #FeFeFe;
    padding-top: 15px;
}

.playerControls span {
    margin-left: 12px;
    background-color: #444;
    padding-left: 6px;
    padding-right: 6px;
    cursor: pointer;
}

.playerControls .stopButton {
    float:left;
    margin-left: 1.5em;
}

.season li {
    overflow:auto;
}

.season li .textButton:hover {
    cursor: pointer;
}

input[type="number"] {
    width: 4em;
}
