<div class="clip-settings">
    <h4>Clip-settings</h4>
    <label>
        <input class="start-time" type="number"></input>
        <span>start</span>
        <button class="start-button">set to current frame</button>
    </label>
    <br/>
    <label>
        <input class="end-time" type="number"></input>
        <span>end</span>
        <button class="end-button">set to current frame</button>
    </label>
    <br/>
    <label>
        <input class="max-size" type="number"></input>
        <span>max-size (MiB)</span>
    </label>
    <label>
        <input class="audio" type="checkbox"></input>
        <span>audio</span>
    </label>
    <label>
        <input class="audioRateKib" type="number"></input>
        <span>audio (KiB)</span>
    </label>
    <h4>Output-type</h4>
    <label>
        <input class="type-gif" type="radio" name="output-type"></input>
        <span>gif (pretty bloated atm)</span>
    </label>
    <label>
        <input class="type-webm" type="radio" name="output-type"></input>
        <span>webm</span>
    </label>
    <hr/>
    <label>
        <input class="always-show" type="checkbox"></input>
        <span>always show settings</span>
    </label>
    <button class="store-settings">store as default</button>
    <hr/>
    <button class="create-button">create</button>
    <button class="cancel-button">cancel</button>
</div>
